<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="products-user-wrapper">
  <div class="products-header">
    <h3><%= t('.store_title') %></h3>
  </div>
  <hr>

  <div class="products-items">
    <% cache @products do %>
      <% @products.each do |product| %>
        <% cache product do %>
          <div class="product-item">
            <%= button_to t('.add'), line_items_path(product_id: product, locale: I18n.locale), remote: true%>
            <img src="<%= product.image_url %>" width="384" alt="music">

            <%= link_to product do %>
              <div class="content">
                <h4 class="title"><%= product.title %></h4>
                <p class="price"><%= number_to_currency(product.price) %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>